.edudms_tiles_wrapper {
	display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: baseline;
}

.edudms_tile_wrapper {
	
}

.edudms_tile_title {
	
}

.edudms_tile_picture {
	
}

.edudms_tile_info_wrapper {
	display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: baseline;
}